n8n/workflows/01_memory_ingest_v3_cached.json
{
  "name": "01 Memory Ingest v3 (with Cache)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "memory/ingest-v3",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "memory-ingest-v3",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const request = $input.first().json;\nconst rawHeaders = (request.headers && typeof request.headers === 'object' && !Array.isArray(request.headers)) ? request.headers : {};\nconst headers = Object.fromEntries(\n  Object.entries(rawHeaders).map(([key, value]) => [String(key).toLowerCase(), value])\n);\nconst sanitizedHeaders = Object.fromEntries(\n  Object.entries(rawHeaders).filter(([key]) => {\n    const normalizedKey = String(key).toLowerCase();\n    return normalizedKey !== 'x-api-key' && normalizedKey !== 'authorization';\n  })\n);\nconst sanitizedRequest = {\n  ...request,\n  headers: sanitizedHeaders\n};\nconst headerValue = (value) => Array.isArray(value) ? String(value[0] || '').trim() : String(value || '').trim();\nconst expectedApiKey = String($env.N8N_WEBHOOK_API_KEY || '').trim();\nconst xApiKey = headerValue(headers['x-api-key']);\nconst authorization = headerValue(headers.authorization);\nconst bearerMatch = authorization.match(/^Bearer\\s+(.+)$/i);\nconst bearerToken = bearerMatch ? String(bearerMatch[1] || '').trim() : '';\nconst matchedXApiKey = Boolean(expectedApiKey) && xApiKey === expectedApiKey;\nconst matchedBearer = Boolean(expectedApiKey) && bearerToken === expectedApiKey;\nconst authenticated = matchedXApiKey || matchedBearer;\n\nif (authenticated) {\n  return [{\n    json: {\n      ...sanitizedRequest,\n      webhook_auth: {\n        authenticated: true,\n        header: matchedXApiKey ? 'X-API-Key' : 'Authorization'\n      }\n    },\n    pairedItem: {\n      item: 0\n    }\n  }];\n}\n\nconst message = 'Unauthorized: Invalid or missing API key';\n\nreturn [{\n  json: {\n    ...sanitizedRequest,\n    status: 'error',\n    message,\n    code: 401,\n    webhook_auth: {\n      authenticated: false\n    }\n  },\n  pairedItem: {\n    item: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ],
      "name": "Check Webhook Auth"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "webhook-authenticated",
              "leftValue": "={{ $json.webhook_auth && $json.webhook_auth.authenticated === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        690,
        300
      ],
      "name": "Webhook Authorized?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'error', message: $json.message || 'Unauthorized: Invalid or missing API key' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        910,
        180
      ],
      "name": "Unauthorized Response"
    },
    {
      "parameters": {
        "jsCode": "// Validate input\nconst input = $input.first().json.body;\n\nif (!input.tenant_id || !input.scope || !input.text) {\n  return [{\n    json: {\n      error: 'Missing required fields: tenant_id, scope, text'\n    }\n  }];\n}\n\n// Secret patterns to reject\nconst secretPatterns = [\n  /api[_-]?key/i,\n  /bearer\\s+[A-Za-z0-9-_.]+/i,\n  /-----BEGIN(.*?)PRIVATE KEY-----/i\n];\n\n// Check for secrets in text\nif (secretPatterns.some(p => p.test(input.text))) {\n  return [{\n    json: {\n      error: 'Rejected: potential secret detected in text'\n    }\n  }];\n}\n\n// Filter facts - only keep those with confidence >= 0.75 OR source == explicit\nconst filteredFacts = (input.facts || []).filter(f => {\n  // Check for secrets in fact fields\n  const factText = `${f.subject || ''} ${f.predicate || ''} ${f.object || ''}`;\n  if (secretPatterns.some(p => p.test(factText))) {\n    return false;\n  }\n  \n  // Apply commit rules\n  if (f.confidence >= 0.75 || input.source === 'explicit') {\n    // Reject if subject/predicate/object empty\n    if (!f.subject || !f.predicate || !f.object) {\n    return false;\n    }\n    return true;\n  }\n  return false;\n});\n\nreturn [{\n  json: {\n    tenant_id: input.tenant_id,\n    scope: input.scope,\n    text: input.text,\n    facts: filteredFacts,\n    source: input.source || 'unknown',\n    tags: input.tags || []\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "name": "Validate and Filter"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nif (data.error) {\n  return [{\n    json: {\n      status: 'error',\n      message: data.error\n    }\n  }];\n}\n\nreturn [{\n  json: data\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        650,
        200
      ],
      "name": "Check Validation"
    },
    {
      "parameters": {
        "respondWith": "json",
        "json": "={{ JSON.stringify({ status: \"error\", message: $input.first().json.message }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        200
      ],
      "name": "Error Response"
    },
    {
      "parameters": {
        "jsCode": "// Compute SHA256 hash of content for caching\nconst data = $input.first().json;\nconst crypto = require('crypto');\nconst contentHash = crypto.createHash('sha256').update(data.text).digest('hex');\n\nreturn [{\n  json: {\n    ...data,\n    content_hash: contentHash\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        850,
        400
      ],
      "name": "Compute Hash"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, embedding FROM memory_vectors\nWHERE tenant_id = $1 AND scope = $2 AND content_hash = $3\nLIMIT 1;",
        "additionalFields": {
          "queryReplacement": "={{ [$input.first().json.tenant_id, $input.first().json.scope, $input.first().json.content_hash] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1050,
        400
      ],
      "name": "Check Cache",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if we got a cache hit\nconst result = $input.first().json;\nconst hasCacheHit = result && result.length > 0 && result[0].id;\n\nif (hasCacheHit) {\n  // Return cache hit info\n  const original = $('Compute Hash').first().json;\n  return [{\n    json: {\n      ...original,\n      cached: true,\n      cached_id: result[0].id\n    }\n  }];\n} else {\n  // No cache - proceed with embedding generation\n  const original = $('Compute Hash').first().json;\n  return [{\n    json: {\n      ...original,\n      cached: false\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1250,
        400
      ],
      "name": "If Cached"
    },
    {
      "parameters": {
        "respondWith": "json",
        "json": "={{ JSON.stringify({ status: \"success\", message: \"Cache hit - embedding already exists\", cached: true, id: $input.first().json.cached_id }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1450,
        200
      ],
      "name": "Cache Hit Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO memory_facts (subject, predicate, object, confidence)\nVALUES {{ $input.all()[0].json.facts.map(f => `('${f.subject.replace(/'/g, \"''\")}', '${f.predicate.replace(/'/g, \"''\")}', '${f.object.replace(/'/g, \"''\")}', ${f.confidence})`).join(',') }};",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1450,
        500
      ],
      "name": "Insert Facts",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.GEMINI_EMBED_ENDPOINT}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{$env.GEMINI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": $env.GEMINI_EMBED_MODEL,\n  \"content\": {\n    \"parts\": [\n      {\n        \"text\": $json.text\n      }\n    ]\n  }\n}",
        "options": {
          "retry": {
            "retries": 3,
            "retryDelay": 1000
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1650,
        500
      ],
      "name": "Generate Embedding"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst values = response?.embedding?.values;\n\nif (!Array.isArray(values) || values.length === 0) {\n  throw new Error('Invalid embedding response from Gemini');\n}\n\n// Reduce to 1536 dimensions for pgvector compatibility\nconst TARGET_DIM = 1536;\nconst reduced = values.slice(0, TARGET_DIM);\nconst original = $('If Cached').first().json;\n\nreturn [{\n  json: {\n    ...original,\n    embedding: `[${reduced.join(',')}]`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1850,
        500
      ],
      "name": "Parse Embedding"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO memory_vectors (tenant_id, scope, content, embedding, content_hash, created_at)\nVALUES ('{{ $input.first().json.tenant_id }}', '{{ $input.first().json.scope }}', '{{ $input.first().json.text.replace(/'/g, \"''\") }}', '{{ $input.first().json.embedding }}'::vector, '{{ $input.first().json.content_hash }}', NOW());",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2050,
        500
      ],
      "name": "Insert Vector",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_events (actor, action, target, decision, created_at)\nVALUES ('workflow:memory_ingest', 'memory_write', '{{ $input.first().json.scope }}', 'allowed', NOW());",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2250,
        500
      ],
      "name": "Insert Audit",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "json": "={{ JSON.stringify({ status: \"success\", message: \"Memory ingested\", cached: false, facts_stored: $input.all()[0].json.facts.length }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2450,
        500
      ],
      "name": "Success Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Webhook Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Filter": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compute Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Hash": {
      "main": [
        [
          {
            "node": "Check Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache": {
      "main": [
        [
          {
            "node": "If Cached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cached": {
      "main": [
        [
          {
            "node": "Cache Hit Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Facts": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Parse Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Embedding": {
      "main": [
        [
          {
            "node": "Insert Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Vector": {
      "main": [
        [
          {
            "node": "Insert Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Audit": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Webhook Auth": {
      "main": [
        [
          {
            "node": "Webhook Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Authorized?": {
      "main": [
        [
          {
            "node": "Validate and Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
