n8n/workflows/01_memory_ingest_v3_cached.json
{
  "name": "01 Memory Ingest v3 (with Cache)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "memory/ingest-v3",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "memory-ingest-v3",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const request = $input.first().json;\nconst rawHeaders = (request.headers && typeof request.headers === 'object' && !Array.isArray(request.headers)) ? request.headers : {};\nconst headers = Object.fromEntries(\n  Object.entries(rawHeaders).map(([key, value]) => [String(key).toLowerCase(), value])\n);\nconst sanitizedHeaders = Object.fromEntries(\n  Object.entries(rawHeaders).filter(([key]) => {\n    const normalizedKey = String(key).toLowerCase();\n    return normalizedKey !== 'x-api-key' && normalizedKey !== 'authorization';\n  })\n);\nconst sanitizedRequest = {\n  ...request,\n  headers: sanitizedHeaders\n};\nconst headerValue = (value) => Array.isArray(value) ? String(value[0] || '').trim() : String(value || '').trim();\nconst expectedApiKey = String($env.N8N_WEBHOOK_API_KEY || '').trim();\nconst xApiKey = headerValue(headers['x-api-key']);\nconst authorization = headerValue(headers.authorization);\nconst bearerMatch = authorization.match(/^Bearer\\s+(.+)$/i);\nconst bearerToken = bearerMatch ? String(bearerMatch[1] || '').trim() : '';\nconst matchedXApiKey = Boolean(expectedApiKey) && xApiKey === expectedApiKey;\nconst matchedBearer = Boolean(expectedApiKey) && bearerToken === expectedApiKey;\nconst authenticated = matchedXApiKey || matchedBearer;\n\nif (authenticated) {\n  return [{\n    json: {\n      ...sanitizedRequest,\n      webhook_auth: {\n        authenticated: true,\n        header: matchedXApiKey ? 'X-API-Key' : 'Authorization'\n      }\n    },\n    pairedItem: {\n      item: 0\n    }\n  }];\n}\n\nconst message = 'Unauthorized: Invalid or missing API key';\n\nreturn [{\n  json: {\n    ...sanitizedRequest,\n    status: 'error',\n    message,\n    code: 401,\n    webhook_auth: {\n      authenticated: false\n    }\n  },\n  pairedItem: {\n    item: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ],
      "name": "Check Webhook Auth"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "webhook-authenticated",
              "leftValue": "={{ $json.webhook_auth && $json.webhook_auth.authenticated === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        690,
        300
      ],
      "name": "Webhook Authorized?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'error', message: $json.message || 'Unauthorized: Invalid or missing API key' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        910,
        180
      ],
      "name": "Unauthorized Response"
    },
    {
      "parameters": {
        "jsCode": "const sha256Hex = (value) => {\n  const rightRotate = (word, bits) => (word >>> bits) | (word << (32 - bits));\n  const K = [\n    0x428a2f98, 0x71374491, 0xb5c0fbcf, 0xe9b5dba5, 0x3956c25b, 0x59f111f1, 0x923f82a4, 0xab1c5ed5,\n    0xd807aa98, 0x12835b01, 0x243185be, 0x550c7dc3, 0x72be5d74, 0x80deb1fe, 0x9bdc06a7, 0xc19bf174,\n    0xe49b69c1, 0xefbe4786, 0x0fc19dc6, 0x240ca1cc, 0x2de92c6f, 0x4a7484aa, 0x5cb0a9dc, 0x76f988da,\n    0x983e5152, 0xa831c66d, 0xb00327c8, 0xbf597fc7, 0xc6e00bf3, 0xd5a79147, 0x06ca6351, 0x14292967,\n    0x27b70a85, 0x2e1b2138, 0x4d2c6dfc, 0x53380d13, 0x650a7354, 0x766a0abb, 0x81c2c92e, 0x92722c85,\n    0xa2bfe8a1, 0xa81a664b, 0xc24b8b70, 0xc76c51a3, 0xd192e819, 0xd6990624, 0xf40e3585, 0x106aa070,\n    0x19a4c116, 0x1e376c08, 0x2748774c, 0x34b0bcb5, 0x391c0cb3, 0x4ed8aa4a, 0x5b9cca4f, 0x682e6ff3,\n    0x748f82ee, 0x78a5636f, 0x84c87814, 0x8cc70208, 0x90befffa, 0xa4506ceb, 0xbef9a3f7, 0xc67178f2,\n  ];\n  const hash = [\n    0x6a09e667, 0xbb67ae85, 0x3c6ef372, 0xa54ff53a,\n    0x510e527f, 0x9b05688c, 0x1f83d9ab, 0x5be0cd19,\n  ];\n  const encoded = unescape(encodeURIComponent(value));\n  const bytes = Array.from(encoded, (char) => char.charCodeAt(0));\n  const bitLength = bytes.length * 8;\n\n  bytes.push(0x80);\n  while ((bytes.length % 64) !== 56) {\n    bytes.push(0);\n  }\n\n  const highBits = Math.floor(bitLength / 0x100000000);\n  const lowBits = bitLength >>> 0;\n  bytes.push(\n    (highBits >>> 24) & 0xff,\n    (highBits >>> 16) & 0xff,\n    (highBits >>> 8) & 0xff,\n    highBits & 0xff,\n    (lowBits >>> 24) & 0xff,\n    (lowBits >>> 16) & 0xff,\n    (lowBits >>> 8) & 0xff,\n    lowBits & 0xff,\n  );\n\n  const schedule = new Array(64);\n  for (let offset = 0; offset < bytes.length; offset += 64) {\n    for (let index = 0; index < 16; index += 1) {\n      const byteOffset = offset + index * 4;\n      schedule[index] = (\n        (bytes[byteOffset] << 24)\n        | (bytes[byteOffset + 1] << 16)\n        | (bytes[byteOffset + 2] << 8)\n        | bytes[byteOffset + 3]\n      ) >>> 0;\n    }\n\n    for (let index = 16; index < 64; index += 1) {\n      const s0 = rightRotate(schedule[index - 15], 7) ^ rightRotate(schedule[index - 15], 18) ^ (schedule[index - 15] >>> 3);\n      const s1 = rightRotate(schedule[index - 2], 17) ^ rightRotate(schedule[index - 2], 19) ^ (schedule[index - 2] >>> 10);\n      schedule[index] = (schedule[index - 16] + s0 + schedule[index - 7] + s1) >>> 0;\n    }\n\n    let [a, b, c, d, e, f, g, h] = hash;\n\n    for (let index = 0; index < 64; index += 1) {\n      const s1 = rightRotate(e, 6) ^ rightRotate(e, 11) ^ rightRotate(e, 25);\n      const choice = (e & f) ^ (~e & g);\n      const temp1 = (h + s1 + choice + K[index] + schedule[index]) >>> 0;\n      const s0 = rightRotate(a, 2) ^ rightRotate(a, 13) ^ rightRotate(a, 22);\n      const majority = (a & b) ^ (a & c) ^ (b & c);\n      const temp2 = (s0 + majority) >>> 0;\n\n      h = g;\n      g = f;\n      f = e;\n      e = (d + temp1) >>> 0;\n      d = c;\n      c = b;\n      b = a;\n      a = (temp1 + temp2) >>> 0;\n    }\n\n    hash[0] = (hash[0] + a) >>> 0;\n    hash[1] = (hash[1] + b) >>> 0;\n    hash[2] = (hash[2] + c) >>> 0;\n    hash[3] = (hash[3] + d) >>> 0;\n    hash[4] = (hash[4] + e) >>> 0;\n    hash[5] = (hash[5] + f) >>> 0;\n    hash[6] = (hash[6] + g) >>> 0;\n    hash[7] = (hash[7] + h) >>> 0;\n  }\n\n  return hash.map((part) => part.toString(16).padStart(8, '0')).join('');\n};\n\n// Validate input\nconst input = $input.first().json.body;\nconst normalizedText = String(input?.text || '').trim();\n\nif (!input?.tenant_id || !input?.scope || !normalizedText) {\n  return [{\n    json: {\n      error: 'Missing required fields: tenant_id, scope, text'\n    }\n  }];\n}\n\n// Secret patterns to reject\nconst secretPatterns = [\n  /api[_-]?key/i,\n  /bearer\\s+[A-Za-z0-9-_.]+/i,\n  /-----BEGIN(.*?)PRIVATE KEY-----/i\n];\n\n// Check for secrets in text\nif (secretPatterns.some((p) => p.test(normalizedText))) {\n  return [{\n    json: {\n      error: 'Rejected: potential secret detected in text'\n    }\n  }];\n}\n\n// Filter facts - only keep those with confidence >= 0.75 OR source == explicit\nconst filteredFacts = (input.facts || []).filter((f) => {\n  // Check for secrets in fact fields\n  const factText = `${f.subject || ''} ${f.predicate || ''} ${f.object || ''}`;\n  if (secretPatterns.some((p) => p.test(factText))) {\n    return false;\n  }\n\n  // Apply commit rules\n  if (f.confidence >= 0.75 || input.source === 'explicit') {\n    // Reject if subject/predicate/object empty\n    if (!f.subject || !f.predicate || !f.object) {\n      return false;\n    }\n    return true;\n  }\n  return false;\n});\n\nconst requestId = input.request_id || `req-${Date.now()}-${Math.random().toString(36).slice(2, 8)}`;\nconst source = String(input.source || 'unknown');\nconst tags = Array.isArray(input.tags) ? input.tags : [];\nconst metadata = (input.metadata && typeof input.metadata === 'object' && !Array.isArray(input.metadata))\n  ? input.metadata\n  : {};\nconst contentHash = sha256Hex(normalizedText);\n\nreturn [{\n  json: {\n    tenant_id: input.tenant_id,\n    scope: input.scope,\n    text: normalizedText,\n    facts: filteredFacts,\n    source,\n    tags,\n    metadata,\n    request_id: requestId,\n    content_hash: contentHash\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "name": "Validate and Filter"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nif (data.error) {\n  return [{\n    json: {\n      status: 'error',\n      message: data.error\n    }\n  }];\n}\n\nreturn [{\n  json: data\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        650,
        200
      ],
      "name": "Check Validation"
    },
    {
      "parameters": {
        "respondWith": "json",
        "json": "={{ JSON.stringify({ status: \"error\", message: $input.first().json.message }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        200
      ],
      "name": "Error Response"
    },
    {
      "parameters": {
        "jsCode": "// Preserve the validated payload shape for cache lookup.\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    ...data,\n    content_hash: data.content_hash || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        850,
        400
      ],
      "name": "Compute Hash"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH tenant_context AS (SELECT set_config('app.current_tenant_id', $1, true) AS tenant_ctx)\nSELECT id, embedding FROM memory_vectors\nCROSS JOIN tenant_context\nWHERE tenant_id = $1 AND scope = $2 AND content_hash = $3\nLIMIT 1;",
        "additionalFields": {
          "queryReplacement": "={{ [$input.first().json.tenant_id, $input.first().json.scope, $input.first().json.content_hash] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1050,
        400
      ],
      "name": "Check Cache",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if we got a cache hit\nconst result = $input.first().json;\nconst hasCacheHit = result && result.length > 0 && result[0].id;\n\nif (hasCacheHit) {\n  // Return cache hit info\n  const original = $('Compute Hash').first().json;\n  return [{\n    json: {\n      ...original,\n      cached: true,\n      cached_id: result[0].id\n    }\n  }];\n} else {\n  // No cache - proceed with embedding generation\n  const original = $('Compute Hash').first().json;\n  return [{\n    json: {\n      ...original,\n      cached: false\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1250,
        400
      ],
      "name": "If Cached"
    },
    {
      "parameters": {
        "respondWith": "json",
        "json": "={{ JSON.stringify({ status: \"success\", message: \"Cache hit - embedding already exists\", cached: true, id: $input.first().json.cached_id }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1450,
        200
      ],
      "name": "Cache Hit Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO memory_facts (subject, predicate, object, confidence)\nSELECT fact.subject, fact.predicate, fact.object, fact.confidence\nFROM unnest($1::text[], $2::text[], $3::text[], $4::double precision[]) AS fact(subject, predicate, object, confidence);",
        "additionalFields": {
          "queryReplacement": "={{ [\n  ($input.first().json.facts || []).map(f => String(f.subject || '')),\n  ($input.first().json.facts || []).map(f => String(f.predicate || '')),\n  ($input.first().json.facts || []).map(f => String(f.object || '')),\n  ($input.first().json.facts || []).map(f => Number.isFinite(Number(f.confidence)) ? Number(f.confidence) : 0)\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1450,
        500
      ],
      "name": "Insert Facts",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.GEMINI_EMBED_ENDPOINT}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{$env.GEMINI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": $env.GEMINI_EMBED_MODEL,\n  \"content\": {\n    \"parts\": [\n      {\n        \"text\": $json.text\n      }\n    ]\n  }\n}",
        "options": {
          "retry": {
            "retries": 3,
            "retryDelay": 1000
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1650,
        500
      ],
      "name": "Generate Embedding"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst values = response?.embedding?.values;\n\nif (!Array.isArray(values) || values.length === 0) {\n  throw new Error('Invalid embedding response from Gemini');\n}\n\n// Reduce to 1536 dimensions for pgvector compatibility\nconst TARGET_DIM = 1536;\nconst reduced = values.slice(0, TARGET_DIM);\nconst original = $('If Cached').first().json;\n\nreturn [{\n  json: {\n    ...original,\n    embedding: `[${reduced.join(',')}]`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1850,
        500
      ],
      "name": "Parse Embedding"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO memory_vectors (\n  tenant_id,\n  scope,\n  content,\n  embedding,\n  tags,\n  source,\n  content_hash,\n  metadata_jsonb,\n  created_at\n)\nVALUES (\n  $1,\n  $2,\n  $3,\n  $4::vector,\n  $5::jsonb,\n  $6,\n  $7,\n  $8::jsonb,\n  NOW()\n)\nON CONFLICT (tenant_id, scope, content_hash)\nWHERE content_hash IS NOT NULL\nDO UPDATE SET\n  content = EXCLUDED.content,\n  embedding = EXCLUDED.embedding,\n  tags = EXCLUDED.tags,\n  source = EXCLUDED.source,\n  metadata_jsonb = EXCLUDED.metadata_jsonb\nRETURNING id, content_hash;",
        "additionalFields": {
          "queryReplacement": "={{ [\n  $input.first().json.tenant_id,\n  $input.first().json.scope,\n  $input.first().json.text,\n  $input.first().json.embedding,\n  JSON.stringify($input.first().json.tags || []),\n  String($input.first().json.source || 'unknown'),\n  $input.first().json.content_hash,\n  JSON.stringify({\n    request_id: $input.first().json.request_id || null,\n    source: $input.first().json.source || 'unknown',\n    tags: $input.first().json.tags || [],\n    facts_count: Array.isArray($input.first().json.facts) ? $input.first().json.facts.length : 0,\n    metadata: $input.first().json.metadata || {},\n    policy: $input.first().json.policy || {}\n  })\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2050,
        500
      ],
      "name": "Insert Vector",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge Insert Vector result with original data\nconst insertResult = $input.first().json;\nconst original = $('Parse Embedding').first().json;\nconst row = Array.isArray(insertResult) ? insertResult[0] : insertResult;\n\nreturn [{\n  json: {\n    ...original,\n    id: row?.id || null,\n    content_hash: row?.content_hash || original.content_hash || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2250,
        500
      ],
      "name": "Prepare Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_events (actor, action, target, decision, created_at)\nVALUES ($1, $2, $3, $4, NOW());",
        "additionalFields": {
          "queryReplacement": "={{ [\n  'workflow:memory_ingest',\n  'memory_write',\n  $input.first().json.scope,\n  'allowed'\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        2450,
        500
      ],
      "name": "Insert Audit",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "json": "={{ JSON.stringify({ status: \"success\", message: \"Memory ingested\", cached: false, facts_stored: $input.all()[0].json.facts.length }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2650,
        500
      ],
      "name": "Success Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Webhook Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Filter": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Compute Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Hash": {
      "main": [
        [
          {
            "node": "Check Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cache": {
      "main": [
        [
          {
            "node": "If Cached",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cached": {
      "main": [
        [
          {
            "node": "Cache Hit Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Facts": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Parse Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Embedding": {
      "main": [
        [
          {
            "node": "Insert Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Vector": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Insert Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Audit": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Webhook Auth": {
      "main": [
        [
          {
            "node": "Webhook Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Authorized?": {
      "main": [
        [
          {
            "node": "Validate and Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
