n8n/workflows/03_audit_append.json
{
  "name": "03 Audit Append",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audit/append",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "audit-append",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const request = $input.first().json;\nconst rawHeaders = (request.headers && typeof request.headers === 'object' && !Array.isArray(request.headers)) ? request.headers : {};\nconst headers = Object.fromEntries(\n  Object.entries(rawHeaders).map(([key, value]) => [String(key).toLowerCase(), value])\n);\nconst sanitizedHeaders = Object.fromEntries(\n  Object.entries(rawHeaders).filter(([key]) => {\n    const normalizedKey = String(key).toLowerCase();\n    return normalizedKey !== 'x-api-key' && normalizedKey !== 'authorization';\n  })\n);\nconst sanitizedRequest = {\n  ...request,\n  headers: sanitizedHeaders\n};\nconst headerValue = (value) => Array.isArray(value) ? String(value[0] || '').trim() : String(value || '').trim();\nconst expectedApiKey = String($env.N8N_WEBHOOK_API_KEY || '').trim();\nconst xApiKey = headerValue(headers['x-api-key']);\nconst authorization = headerValue(headers.authorization);\nconst bearerMatch = authorization.match(/^Bearer\\s+(.+)$/i);\nconst bearerToken = bearerMatch ? String(bearerMatch[1] || '').trim() : '';\nconst matchedXApiKey = Boolean(expectedApiKey) && xApiKey === expectedApiKey;\nconst matchedBearer = Boolean(expectedApiKey) && bearerToken === expectedApiKey;\nconst authenticated = matchedXApiKey || matchedBearer;\n\nif (authenticated) {\n  return [{\n    json: {\n      ...sanitizedRequest,\n      webhook_auth: {\n        authenticated: true,\n        header: matchedXApiKey ? 'X-API-Key' : 'Authorization'\n      }\n    },\n    pairedItem: {\n      item: 0\n    }\n  }];\n}\n\nconst message = 'Unauthorized: Invalid or missing API key';\n\nreturn [{\n  json: {\n    ...sanitizedRequest,\n    status: 'error',\n    message,\n    code: 401,\n    webhook_auth: {\n      authenticated: false\n    }\n  },\n  pairedItem: {\n    item: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ],
      "name": "Check Webhook Auth"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "webhook-authenticated",
              "leftValue": "={{ $json.webhook_auth && $json.webhook_auth.authenticated === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        690,
        300
      ],
      "name": "Webhook Authorized?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'error', message: $json.message || 'Unauthorized: Invalid or missing API key' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        910,
        180
      ],
      "name": "Unauthorized Response"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || {};\n\nconst actor = String(input.actor || '').trim();\nconst action = String(input.action || '').trim();\nconst target = String(input.target || '').trim();\nconst decision = String(input.decision || '').trim();\n\nif (!actor || !action || !target || !decision) {\n  return [{\n    json: {\n      error: 'Missing required fields: actor, action, target, decision'\n    }\n  }];\n}\n\nconst validDecisions = ['allowed', 'denied', 'requires_approval'];\nif (!validDecisions.includes(decision)) {\n  return [{\n    json: {\n      error: 'Invalid decision. Must be: allowed, denied, or requires_approval'\n    }\n  }];\n}\n\nconst payload = (input.payload && typeof input.payload === 'object' && !Array.isArray(input.payload))\n  ? input.payload\n  : {};\n\nconst requestId = String(payload.request_id || '').trim();\nconst policyId = String(payload.policy_id || '').trim();\nconst policyVersion = String(payload.policy_version || '').trim();\nconst policyReason = String(payload.policy_reason || '').trim() || null;\n\nif (!requestId || !policyId || !policyVersion) {\n  return [{\n    json: {\n      error: 'payload.request_id, payload.policy_id, payload.policy_version are required'\n    }\n  }];\n}\n\nlet riskScore = null;\nif (payload.risk_score !== undefined && payload.risk_score !== null && payload.risk_score !== '') {\n  const parsedRisk = Number(payload.risk_score);\n  if (!Number.isFinite(parsedRisk)) {\n    return [{\n      json: {\n        error: 'payload.risk_score must be numeric when provided'\n      }\n    }];\n  }\n  riskScore = Math.round(parsedRisk);\n}\n\nreturn [{\n  json: {\n    actor,\n    action,\n    target,\n    decision,\n    payload,\n    request_id: requestId,\n    policy_id: policyId,\n    policy_version: policyVersion,\n    policy_reason: policyReason,\n    risk_score: riskScore\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "name": "Validate Input"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nif (data.error) {\n  return [{\n    json: {\n      status: 'error',\n      message: data.error\n    }\n  }];\n}\n\nreturn [{\n  json: data\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        650,
        200
      ],
      "name": "Check Validation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validation-error",
              "leftValue": "={{ $json.status === 'error' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        200
      ],
      "name": "Validation Error?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://opa:8181/v1/data/ai/policy/result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ input: { subject: { tenant_id: (($('Check Validation').first().json.payload || {}).tenant_id) || 'unknown', scope: (($('Check Validation').first().json.payload || {}).scope) || $('Check Validation').first().json.target || 'unknown', role: 'workflow' }, resource: { tenant_id: (($('Check Validation').first().json.payload || {}).tenant_id) || 'unknown', scope: (($('Check Validation').first().json.payload || {}).scope) || $('Check Validation').first().json.target || 'unknown', task_type: 'audit_append', audit_action: $('Check Validation').first().json.action || '', audit_target: $('Check Validation').first().json.target || '' }, action: 'audit.append', context: { request_id: $('Check Validation').first().json.request_id, payload_size: JSON.stringify($('Check Validation').first().json.payload || {}).length, decision: $('Check Validation').first().json.decision || '' } } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        400
      ],
      "name": "Evaluate Policy"
    },
    {
      "parameters": {
        "jsCode": "const validated = $('Check Validation').first().json;\n\nif (validated.status === 'error') {\n  return [{ json: validated }];\n}\n\nconst response = $input.first().json;\nconst candidatePolicy = (response && typeof response.result === 'object' && !Array.isArray(response.result))\n  ? response.result\n  : (response && typeof response === 'object' && !Array.isArray(response) ? response : null);\n\nconst fallbackPolicy = {\n  policy_id: 'fallback',\n  policy_version: 'fallback',\n  decision: 'deny',\n  allow: false,\n  requires_approval: true,\n  risk_score: 0,\n  reasons: ['invalid_policy_response']\n};\n\nconst policy = candidatePolicy || fallbackPolicy;\nconst decision = String(policy.decision || '').trim() || 'deny';\n\nif (decision !== 'allow') {\n  return [{\n    json: {\n      status: 'error',\n      message: decision === 'requires_approval' ? 'Policy requires approval' : 'Policy denied',\n      request_id: validated.request_id,\n      policy: {\n        ...policy,\n        decision\n      },\n      approval: decision === 'requires_approval' ? {\n        endpoint: '/webhook/policy/approval',\n        method: 'POST'\n      } : null\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...validated,\n    policy: {\n      ...policy,\n      decision\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1050,
        400
      ],
      "name": "Check Policy"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "policy-error",
              "leftValue": "={{ $json.status === 'error' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        260
      ],
      "name": "Policy Error?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'error', message: $input.first().json.message, request_id: $input.first().json.request_id || null, policy: $input.first().json.policy || null, approval: $input.first().json.approval || null }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1290,
        180
      ],
      "name": "Error Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_events (\n  actor,\n  action,\n  target,\n  decision,\n  payload_jsonb,\n  request_id,\n  policy_id,\n  policy_version,\n  policy_reason,\n  risk_score,\n  created_at\n)\nVALUES (\n  $1,\n  $2,\n  $3,\n  $4,\n  $5::jsonb,\n  $6,\n  $7,\n  $8,\n  $9,\n  $10,\n  NOW()\n)\nRETURNING id, request_id, created_at;",
        "additionalFields": {
          "queryReplacement": "={{ [\n  $input.first().json.actor,\n  $input.first().json.action,\n  $input.first().json.target,\n  $input.first().json.decision,\n  JSON.stringify({\n    ...($input.first().json.payload || {}),\n    policy: $input.first().json.policy || {}\n  }),\n  $input.first().json.request_id,\n  $input.first().json.policy?.policy_id || $input.first().json.policy_id,\n  $input.first().json.policy?.policy_version || $input.first().json.policy_version,\n  Array.isArray($input.first().json.policy?.reasons)\n    ? $input.first().json.policy.reasons.join('; ')\n    : $input.first().json.policy_reason,\n  Number.isFinite(Number($input.first().json.policy?.risk_score))\n    ? Math.round(Number($input.first().json.policy.risk_score))\n    : $input.first().json.risk_score\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1250,
        400
      ],
      "name": "Insert Audit",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "json": "={{ (() => {\n  const insertResult = $('Insert Audit').first().json;\n  const row = Array.isArray(insertResult) ? insertResult[0] : insertResult;\n  return JSON.stringify({\n    status: 'success',\n    message: 'Audit event recorded',\n    audit_event_id: row?.id || null,\n    request_id: row?.request_id || $('Check Policy').first().json.request_id || null,\n    created_at: row?.created_at || null,\n    policy: $('Check Policy').first().json.policy || null,\n  });\n})() }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1050,
        400
      ],
      "name": "Success Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Webhook Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Validation Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Error?": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evaluate Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Policy": {
      "main": [
        [
          {
            "node": "Check Policy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Policy": {
      "main": [
        [
          {
            "node": "Policy Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Policy Error?": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Audit": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Webhook Auth": {
      "main": [
        [
          {
            "node": "Webhook Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Authorized?": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
