n8n/workflows-v3/02_vector_search.json
{
  "name": "02 Vector Search",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "memory/search-v3",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "memory-search",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || {};\n\nconst tenantId = String(input.tenant_id || '').trim();\nconst scope = String(input.scope || '').trim();\nconst query = String(input.query || '').trim();\nconst requestedK = Number(input.k);\nconst k = Number.isFinite(requestedK) && requestedK > 0\n  ? Math.min(Math.floor(requestedK), 50)\n  : 5;\n\nif (!tenantId || !scope || !query) {\n  return [{\n    json: {\n      error: 'Missing required fields: tenant_id, scope, query'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    tenant_id: tenantId,\n    scope,\n    query,\n    k\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "name": "Validate Input"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nif (data.error) {\n  return [{\n    json: {\n      status: 'error',\n      message: data.error\n    }\n  }];\n}\n\nreturn [{\n  json: data\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        650,
        200
      ],
      "name": "Check Validation"
    },
    {
      "parameters": {
        "respondWith": "json",
        "json": "={{ JSON.stringify({ status: \"error\", message: $input.first().json.message }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        200
      ],
      "name": "Error Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.GEMINI_EMBED_ENDPOINT}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-goog-api-key",
              "value": "={{$env.GEMINI_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": $env.GEMINI_EMBED_MODEL,\n  \"content\": {\n    \"parts\": [\n      {\n        \"text\": $json.query\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        400
      ],
      "name": "Generate Query Embedding"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\n// Load PCA model\nconst pca = JSON.parse(fs.readFileSync('/workspace/pca_model.json', 'utf8'));\n\nconst response = $input.first().json;\nconst embedding = response?.embedding?.values;\n\nif (!Array.isArray(embedding) || embedding.length === 0) {\n  throw new Error('Invalid embedding response from Gemini');\n}\n\n// PCA transformation\nconst mean = pca.mean;\nconst components = pca.components;\n\n// Center the embedding\nconst centered = embedding.map((v, i) => v - mean[i]);\n\n// Project onto principal components\nconst reduced = components.map(component =>\n  component.reduce((sum, weight, i) => sum + weight * centered[i], 0)\n);\n\nconst original = $('Check Validation').first().json;\n\nreturn [{\n  json: {\n    ...original,\n    embedding: `[${reduced.join(',')}]`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1050,
        400
      ],
      "name": "Parse Embedding"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, scope, content, tags, source, created_at,\n       (embedding <=> $1::vector) AS cosine_distance\nFROM memory_vectors\nWHERE tenant_id = $2 AND scope = $3\nORDER BY embedding <=> $1::vector\nLIMIT $4;",
        "additionalFields": {
          "queryReplacement": "={{ [$input.first().json.embedding, $input.first().json.tenant_id, $input.first().json.scope, Number($input.first().json.k)] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1250,
        400
      ],
      "name": "Search Vectors",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_events (actor, action, target, decision, created_at)\nVALUES ('workflow:vector_search', 'memory_read', $1, 'allowed', NOW());",
        "additionalFields": {
          "queryReplacement": "={{ [$('Check Validation').first().json.scope] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1450,
        400
      ],
      "name": "Insert Audit",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "jsCode": "const searchResults = $input.first().json;\nconst original = $('Check Validation').first().json;\n\nconst rankedResults = Array.isArray(searchResults)\n  ? searchResults.map((r, index) => {\n      const distance = Number(r.cosine_distance);\n      const similarity = Number.isFinite(distance)\n        ? Math.max(0, Math.min(1, 1 - distance))\n        : null;\n\n      return {\n        id: r.id,\n        rank: index + 1,\n        scope: r.scope,\n        content: r.content,\n        tags: r.tags,\n        source: r.source,\n        created_at: r.created_at,\n        cosine_distance: Number.isFinite(distance) ? distance : null,\n        similarity_score: similarity,\n      };\n    })\n  : [];\n\nconst response = {\n  status: 'success',\n  mode: 'vector_cosine',\n  query: original.query,\n  tenant_id: original.tenant_id,\n  scope: original.scope,\n  k: original.k,\n  results_count: rankedResults.length,\n  results: rankedResults,\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: response }];"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1750,
        400
      ],
      "name": "Success Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Query Embedding": {
      "main": [
        [
          {
            "node": "Parse Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Embedding": {
      "main": [
        [
          {
            "node": "Search Vectors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Vectors": {
      "main": [
        [
          {
            "node": "Insert Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Audit": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
