n8n/workflows-v3/05_policy_approval.json
{
  "name": "05 Policy Approval",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "policy/approval",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        300
      ],
      "webhookId": "policy-approval",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const request = $input.first().json;\nconst rawHeaders = (request.headers && typeof request.headers === 'object' && !Array.isArray(request.headers)) ? request.headers : {};\nconst headers = Object.fromEntries(\n  Object.entries(rawHeaders).map(([key, value]) => [String(key).toLowerCase(), value])\n);\nconst sanitizedHeaders = Object.fromEntries(\n  Object.entries(rawHeaders).filter(([key]) => {\n    const normalizedKey = String(key).toLowerCase();\n    return normalizedKey !== 'x-api-key' && normalizedKey !== 'authorization';\n  })\n);\nconst sanitizedRequest = {\n  ...request,\n  headers: sanitizedHeaders\n};\nconst headerValue = (value) => Array.isArray(value) ? String(value[0] || '').trim() : String(value || '').trim();\nconst expectedApiKey = String($env.N8N_WEBHOOK_API_KEY || '').trim();\nconst xApiKey = headerValue(headers['x-api-key']);\nconst authorization = headerValue(headers.authorization);\nconst bearerMatch = authorization.match(/^Bearer\\s+(.+)$/i);\nconst bearerToken = bearerMatch ? String(bearerMatch[1] || '').trim() : '';\nconst matchedXApiKey = Boolean(expectedApiKey) && xApiKey === expectedApiKey;\nconst matchedBearer = Boolean(expectedApiKey) && bearerToken === expectedApiKey;\nconst authenticated = matchedXApiKey || matchedBearer;\n\nif (authenticated) {\n  return [{\n    json: {\n      ...sanitizedRequest,\n      webhook_auth: {\n        authenticated: true,\n        header: matchedXApiKey ? 'X-API-Key' : 'Authorization'\n      }\n    },\n    pairedItem: {\n      item: 0\n    }\n  }];\n}\n\nconst message = 'Unauthorized: Invalid or missing API key';\n\nreturn [{\n  json: {\n    ...sanitizedRequest,\n    status: 'error',\n    message,\n    code: 401,\n    webhook_auth: {\n      authenticated: false\n    }\n  },\n  pairedItem: {\n    item: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "name": "Check Webhook Auth"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "webhook-authenticated",
              "leftValue": "={{ $json.webhook_auth && $json.webhook_auth.authenticated === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        300
      ],
      "name": "Webhook Authorized?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'error', message: $json.message || 'Unauthorized: Invalid or missing API key' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        180
      ],
      "name": "Unauthorized Response"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || {};\n\nif (!input.request_id || !input.decision || !input.approver || !input.policy_id || !input.policy_version) {\n  return [{ json: { status: 'error', message: 'Missing required fields: request_id, decision, approver, policy_id, policy_version' } }];\n}\n\nconst validDecisions = ['approved', 'rejected'];\nif (!validDecisions.includes(input.decision)) {\n  return [{ json: { status: 'error', message: 'decision must be approved or rejected' } }];\n}\n\nconst priorPolicy = (input.policy && typeof input.policy === 'object' && !Array.isArray(input.policy))\n  ? input.policy\n  : null;\nconst approval = (input.approval && typeof input.approval === 'object' && !Array.isArray(input.approval))\n  ? input.approval\n  : null;\n\nif (!priorPolicy) {\n  return [{ json: { status: 'error', message: 'policy object from the prior requires_approval response is required' } }];\n}\n\nconst priorDecision = String(priorPolicy.decision || '').trim();\nif (priorDecision !== 'requires_approval') {\n  return [{ json: { status: 'error', message: 'policy.decision must be requires_approval' } }];\n}\n\nif (String(priorPolicy.policy_id || '').trim() !== String(input.policy_id).trim() || String(priorPolicy.policy_version || '').trim() !== String(input.policy_version).trim()) {\n  return [{ json: { status: 'error', message: 'policy_id and policy_version must match the prior policy response' } }];\n}\n\nif (!approval || String(approval.endpoint || '').trim() !== '/webhook/policy/approval' || String(approval.method || '').trim().toUpperCase() !== 'POST') {\n  return [{ json: { status: 'error', message: 'approval metadata must come from the prior policy response' } }];\n}\n\nconst auditDecision = input.decision === 'approved' ? 'allowed' : 'denied';\nconst policyReason = Array.isArray(priorPolicy.reasons) ? priorPolicy.reasons.join('; ') : null;\nconst riskScore = Number.isFinite(Number(priorPolicy.risk_score)) ? Math.round(Number(priorPolicy.risk_score)) : null;\n\nreturn [{\n  json: {\n    request_id: String(input.request_id).trim(),\n    decision: input.decision,\n    approver: String(input.approver).trim(),\n    comment: String(input.comment || ''),\n    approved_at: new Date().toISOString(),\n    policy_id: String(input.policy_id).trim(),\n    policy_version: String(input.policy_version).trim(),\n    policy: {\n      ...priorPolicy,\n      decision: priorDecision\n    },\n    approval,\n    auditDecision,\n    policy_reason: policyReason,\n    risk_score: riskScore\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "name": "Validate Approval"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "approval-error",
              "leftValue": "={{ $json.status === 'error' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "name": "Prepare Audit"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'error', message: $input.first().json.message, request_id: $input.first().json.request_id || null, policy: $input.first().json.policy || null, approval: $input.first().json.approval || null }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        180
      ],
      "name": "Error Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_events (\n  actor,\n  action,\n  target,\n  decision,\n  payload_jsonb,\n  request_id,\n  policy_id,\n  policy_version,\n  policy_reason,\n  risk_score,\n  created_at\n)\nVALUES (\n  $1,\n  'policy_approval',\n  $2,\n  $3,\n  $4::jsonb,\n  $5,\n  $6,\n  $7,\n  $8,\n  $9,\n  NOW()\n)\nRETURNING id, request_id, created_at;",
        "additionalFields": {
          "queryReplacement": "={{ [\n  'approver:' + $input.first().json.approver,\n  $input.first().json.request_id,\n  $input.first().json.auditDecision,\n  JSON.stringify({\n    request_id: $input.first().json.request_id,\n    policy_id: $input.first().json.policy_id,\n    policy_version: $input.first().json.policy_version,\n    comment: $input.first().json.comment,\n    approved_at: $input.first().json.approved_at,\n    decision: $input.first().json.decision,\n    policy: $input.first().json.policy || {},\n    approval: $input.first().json.approval || {}\n  }),\n  $input.first().json.request_id,\n  $input.first().json.policy_id,\n  $input.first().json.policy_version,\n  $input.first().json.policy_reason,\n  $input.first().json.risk_score\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        920,
        360
      ],
      "name": "Insert Approval Audit",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "json": "={{ (() => {\n  const insertResult = $('Insert Approval Audit').first().json;\n  const row = Array.isArray(insertResult) ? insertResult[0] : insertResult;\n  return JSON.stringify({\n    status: 'success',\n    request_id: $input.first().json.request_id,\n    decision: $input.first().json.decision,\n    approver: $input.first().json.approver,\n    audit_event_id: row?.id || null,\n    created_at: row?.created_at || null,\n    policy: $input.first().json.policy || null,\n  });\n})() }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1140,
        360
      ],
      "name": "Success Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Webhook Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Approval": {
      "main": [
        [
          {
            "node": "Prepare Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audit": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Approval Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Approval Audit": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Webhook Auth": {
      "main": [
        [
          {
            "node": "Webhook Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Authorized?": {
      "main": [
        [
          {
            "node": "Validate Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
