n8n/workflows-v3/05_policy_approval.json
{
  "name": "05 Policy Approval",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "policy/approval",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        300
      ],
      "webhookId": "policy-approval",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const request = $input.first().json;\nconst rawHeaders = (request.headers && typeof request.headers === 'object' && !Array.isArray(request.headers)) ? request.headers : {};\nconst headers = Object.fromEntries(\n  Object.entries(rawHeaders).map(([key, value]) => [String(key).toLowerCase(), value])\n);\nconst sanitizedHeaders = Object.fromEntries(\n  Object.entries(rawHeaders).filter(([key]) => {\n    const normalizedKey = String(key).toLowerCase();\n    return normalizedKey !== 'x-api-key' && normalizedKey !== 'authorization';\n  })\n);\nconst sanitizedRequest = {\n  ...request,\n  headers: sanitizedHeaders\n};\nconst headerValue = (value) => Array.isArray(value) ? String(value[0] || '').trim() : String(value || '').trim();\nconst expectedApiKey = String($env.N8N_WEBHOOK_API_KEY || '').trim();\nconst xApiKey = headerValue(headers['x-api-key']);\nconst authorization = headerValue(headers.authorization);\nconst bearerMatch = authorization.match(/^Bearer\\s+(.+)$/i);\nconst bearerToken = bearerMatch ? String(bearerMatch[1] || '').trim() : '';\nconst matchedXApiKey = Boolean(expectedApiKey) && xApiKey === expectedApiKey;\nconst matchedBearer = Boolean(expectedApiKey) && bearerToken === expectedApiKey;\nconst authenticated = matchedXApiKey || matchedBearer;\n\nif (authenticated) {\n  return [{\n    json: {\n      ...sanitizedRequest,\n      webhook_auth: {\n        authenticated: true,\n        header: matchedXApiKey ? 'X-API-Key' : 'Authorization'\n      }\n    },\n    pairedItem: {\n      item: 0\n    }\n  }];\n}\n\nconst message = 'Unauthorized: Invalid or missing API key';\n\nreturn [{\n  json: {\n    ...sanitizedRequest,\n    status: 'error',\n    message,\n    code: 401,\n    webhook_auth: {\n      authenticated: false\n    }\n  },\n  pairedItem: {\n    item: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "name": "Check Webhook Auth"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "webhook-authenticated",
              "leftValue": "={{ $json.webhook_auth && $json.webhook_auth.authenticated === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        300
      ],
      "name": "Webhook Authorized?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'error', message: $json.message || 'Unauthorized: Invalid or missing API key' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        180
      ],
      "name": "Unauthorized Response"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\nconst input = $input.first().json.body || {};\n\nif (!input.request_id || !input.decision || !input.approver || !input.policy_id || !input.policy_version) {\n  return [{ json: { status: 'error', message: 'Missing required fields: request_id, decision, approver, policy_id, policy_version' } }];\n}\n\nconst validDecisions = ['approved', 'rejected'];\nif (!validDecisions.includes(input.decision)) {\n  return [{ json: { status: 'error', message: 'decision must be approved or rejected' } }];\n}\n\nconst priorPolicy = (input.policy && typeof input.policy === 'object' && !Array.isArray(input.policy))\n  ? input.policy\n  : null;\nconst approval = (input.approval && typeof input.approval === 'object' && !Array.isArray(input.approval))\n  ? input.approval\n  : null;\n\nif (!priorPolicy) {\n  return [{ json: { status: 'error', message: 'policy object from the prior requires_approval response is required' } }];\n}\n\nif (!approval || !approval.token) {\n  return [{ json: { status: 'error', message: 'approval.token from the prior policy response is required' } }];\n}\n\nconst signingSecret = String($env.N8N_ENCRYPTION_KEY || '').trim();\nif (!signingSecret) {\n  return [{ json: { status: 'error', message: 'approval verification secret is not configured' } }];\n}\n\nconst requestId = String(input.request_id).trim();\nconst policyId = String(input.policy_id).trim();\nconst policyVersion = String(input.policy_version).trim();\nconst decision = String(input.decision).trim();\nconst approver = String(input.approver).trim();\nconst endpoint = String(approval.endpoint || '').trim();\nconst method = String(approval.method || '').trim().toUpperCase();\nconst token = String(approval.token || '').trim();\n\nlet signedEnvelope;\ntry {\n  const [encodedPayload, providedSignature] = token.split('.');\n  if (!encodedPayload || !providedSignature) {\n    throw new Error('malformed');\n  }\n\n  const serializedPayload = Buffer.from(encodedPayload, 'base64url').toString('utf8');\n  const expectedSignature = crypto.createHmac('sha256', signingSecret).update(serializedPayload).digest('hex');\n  const providedBuffer = Buffer.from(providedSignature, 'hex');\n  const expectedBuffer = Buffer.from(expectedSignature, 'hex');\n\n  if (providedBuffer.length !== expectedBuffer.length || !crypto.timingSafeEqual(providedBuffer, expectedBuffer)) {\n    throw new Error('signature_mismatch');\n  }\n\n  signedEnvelope = JSON.parse(serializedPayload);\n} catch (error) {\n  return [{ json: { status: 'error', message: 'approval.token is invalid' } }];\n}\n\nconst signedPolicy = (signedEnvelope.policy && typeof signedEnvelope.policy === 'object' && !Array.isArray(signedEnvelope.policy))\n  ? signedEnvelope.policy\n  : null;\nconst signedApproval = (signedEnvelope.approval && typeof signedEnvelope.approval === 'object' && !Array.isArray(signedEnvelope.approval))\n  ? signedEnvelope.approval\n  : null;\n\nif (!signedPolicy || !signedApproval) {\n  return [{ json: { status: 'error', message: 'approval.token is missing signed policy metadata' } }];\n}\n\nif (String(signedEnvelope.request_id || '').trim() !== requestId) {\n  return [{ json: { status: 'error', message: 'request_id must match the signed approval token' } }];\n}\n\nif (String(signedPolicy.decision || '').trim() !== 'requires_approval') {\n  return [{ json: { status: 'error', message: 'policy.decision must be requires_approval' } }];\n}\n\nif (String(signedPolicy.policy_id || '').trim() !== policyId || String(signedPolicy.policy_version || '').trim() !== policyVersion) {\n  return [{ json: { status: 'error', message: 'policy_id and policy_version must match the signed approval token' } }];\n}\n\nif (String(priorPolicy.policy_id || '').trim() !== policyId || String(priorPolicy.policy_version || '').trim() !== policyVersion || String(priorPolicy.decision || '').trim() !== 'requires_approval') {\n  return [{ json: { status: 'error', message: 'policy object must match the prior requires_approval response' } }];\n}\n\nif (endpoint !== String(signedApproval.endpoint || '').trim() || method !== String(signedApproval.method || '').trim().toUpperCase()) {\n  return [{ json: { status: 'error', message: 'approval metadata must match the signed approval token' } }];\n}\n\nif (endpoint !== '/webhook/policy/approval' || method !== 'POST') {\n  return [{ json: { status: 'error', message: 'approval metadata must come from the prior policy response' } }];\n}\n\nconst auditDecision = decision === 'approved' ? 'allowed' : 'denied';\nconst policyReason = Array.isArray(signedPolicy.reasons) ? signedPolicy.reasons.join('; ') : null;\nconst riskScore = Number.isFinite(Number(signedPolicy.risk_score)) ? Math.round(Number(signedPolicy.risk_score)) : null;\n\nreturn [{\n  json: {\n    request_id: requestId,\n    decision,\n    approver,\n    comment: String(input.comment || ''),\n    approved_at: new Date().toISOString(),\n    policy_id: policyId,\n    policy_version: policyVersion,\n    policy: {\n      ...signedPolicy,\n      decision: 'requires_approval'\n    },\n    approval: {\n      ...signedApproval,\n      token\n    },\n    auditDecision,\n    policy_reason: policyReason,\n    risk_score: riskScore\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "name": "Validate Approval"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "approval-error",
              "leftValue": "={{ $json.status === 'error' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        300
      ],
      "name": "Prepare Audit"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'error', message: $input.first().json.message, request_id: $input.first().json.request_id || null, policy: $input.first().json.policy || null, approval: $input.first().json.approval || null }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        180
      ],
      "name": "Error Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://policy-bundle-server:8088/internal/tenant-data/audit/event",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ actor: 'approver:' + $input.first().json.approver, action: 'policy_approval', target: $input.first().json.request_id, decision: $input.first().json.auditDecision, payload_jsonb: { request_id: $input.first().json.request_id, policy_id: $input.first().json.policy_id, policy_version: $input.first().json.policy_version, comment: $input.first().json.comment, approved_at: $input.first().json.approved_at, decision: $input.first().json.decision, policy: $input.first().json.policy || {}, approval: $input.first().json.approval || {} }, request_id: $input.first().json.request_id, policy_id: $input.first().json.policy_id, policy_version: $input.first().json.policy_version, policy_reason: $input.first().json.policy_reason, risk_score: $input.first().json.risk_score }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        360
      ],
      "name": "Insert Approval Audit"
    },
    {
      "parameters": {
        "respondWith": "json",
        "json": "={{ (() => {\n  const insertResult = $('Insert Approval Audit').first().json;\n  const row = Array.isArray(insertResult) ? insertResult[0] : insertResult;\n  const approvalResult = $('Validate Approval').first().json;\n  return JSON.stringify({\n    status: 'success',\n    request_id: row?.request_id || approvalResult.request_id,\n    decision: approvalResult.decision,\n    approver: approvalResult.approver,\n    audit_event_id: row?.id || null,\n    created_at: row?.created_at || null,\n    policy: approvalResult.policy || null,\n  });\n})() }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1140,
        360
      ],
      "name": "Success Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Webhook Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Approval": {
      "main": [
        [
          {
            "node": "Prepare Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audit": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Approval Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Approval Audit": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Webhook Auth": {
      "main": [
        [
          {
            "node": "Webhook Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Authorized?": {
      "main": [
        [
          {
            "node": "Validate Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}
