n8n/workflows-v3/06_policy_registry_upsert.json
{
  "name": "06 Policy Registry Upsert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "policy/registry/upsert",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        300
      ],
      "name": "Webhook",
      "webhookId": "policy-registry-upsert"
    },
    {
      "parameters": {
        "jsCode": "const request = $input.first().json;\nconst rawHeaders = (request.headers && typeof request.headers === 'object' && !Array.isArray(request.headers)) ? request.headers : {};\nconst headers = Object.fromEntries(\n  Object.entries(rawHeaders).map(([key, value]) => [String(key).toLowerCase(), value])\n);\nconst sanitizedHeaders = Object.fromEntries(\n  Object.entries(rawHeaders).filter(([key]) => {\n    const normalizedKey = String(key).toLowerCase();\n    return normalizedKey !== 'x-api-key' && normalizedKey !== 'authorization';\n  })\n);\nconst sanitizedRequest = {\n  ...request,\n  headers: sanitizedHeaders\n};\nconst headerValue = (value) => Array.isArray(value) ? String(value[0] || '').trim() : String(value || '').trim();\nconst expectedApiKey = String($env.N8N_WEBHOOK_API_KEY || '').trim();\nconst xApiKey = headerValue(headers['x-api-key']);\nconst authorization = headerValue(headers.authorization);\nconst bearerMatch = authorization.match(/^Bearer\\s+(.+)$/i);\nconst bearerToken = bearerMatch ? String(bearerMatch[1] || '').trim() : '';\nconst matchedXApiKey = Boolean(expectedApiKey) && xApiKey === expectedApiKey;\nconst matchedBearer = Boolean(expectedApiKey) && bearerToken === expectedApiKey;\nconst authenticated = matchedXApiKey || matchedBearer;\n\nif (authenticated) {\n  return [{\n    json: {\n      ...sanitizedRequest,\n      webhook_auth: {\n        authenticated: true,\n        header: matchedXApiKey ? 'X-API-Key' : 'Authorization'\n      }\n    },\n    pairedItem: {\n      item: 0\n    }\n  }];\n}\n\nconst message = 'Unauthorized: Invalid or missing API key';\n\nreturn [{\n  json: {\n    ...sanitizedRequest,\n    status: 'error',\n    message,\n    code: 401,\n    webhook_auth: {\n      authenticated: false\n    }\n  },\n  pairedItem: {\n    item: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "name": "Check Webhook Auth"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "webhook-authenticated",
              "leftValue": "={{ $json.webhook_auth && $json.webhook_auth.authenticated === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        300
      ],
      "name": "Webhook Authorized?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'error', message: $json.message || 'Unauthorized: Invalid or missing API key' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        180
      ],
      "name": "Unauthorized Response"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nconst task_type = String(body.task_type || '').trim();\nconst policy_scope = String(body.policy_scope || '').trim() || 'task_type_only';\nlet workflow_id = String(body.workflow_id || '').trim();\nconst tenant_id = String(body.tenant_id || '*').trim();\nconst scope_pattern = String(body.scope_pattern || '*').trim();\nconst enabled = body.enabled !== false;\nconst actor = String(body.actor || 'n8n-ce');\nconst constraints = body.constraints && typeof body.constraints === 'object' ? body.constraints : {};\n\nif (!task_type) {\n  return [{ json: { status: 'error', message: 'task_type is required' } }];\n}\n\nif (!workflow_id || policy_scope === 'task_type_only') {\n  workflow_id = '*';\n}\n\nreturn [{\n  json: { workflow_id, task_type, tenant_id, scope_pattern, enabled, actor, constraints, policy_scope }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ],
      "name": "Validate Input"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.status === 'error' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "name": "Validation Error?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://policy-bundle-server:8088/internal/tenant-data/policy/workflow/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.POLICY_BUNDLE_INTERNAL_API_KEY || $env.N8N_WEBHOOK_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ workflow_id: $json.workflow_id, task_type: $json.task_type, tenant_id: $json.tenant_id, scope_pattern: $json.scope_pattern, constraints: $json.constraints || {}, enabled: Boolean($json.enabled) }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        360
      ],
      "name": "Upsert Workflow Rule"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://policy-bundle-server:8088/internal/tenant-data/policy/publish-log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-API-Key",
              "value": "={{ $env.POLICY_BUNDLE_INTERNAL_API_KEY || $env.N8N_WEBHOOK_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ revision_id: 'draft', action: 'upsert', actor: $('Validate Input').first().json.actor, result: 'ok', details_jsonb: $('Validate Input').first().json }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        360
      ],
      "name": "Insert Upsert Log"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'ok', action: 'upsert', workflow_id: $('Validate Input').first().json.workflow_id, task_type: $('Validate Input').first().json.task_type, enabled: $('Validate Input').first().json.enabled }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1350,
        360
      ],
      "name": "Success Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'error', message: $json.message || 'validation_error' }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        180
      ],
      "name": "Error Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Webhook Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Validation Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Error?": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Workflow Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Workflow Rule": {
      "main": [
        [
          {
            "node": "Insert Upsert Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Upsert Log": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Webhook Auth": {
      "main": [
        [
          {
            "node": "Webhook Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Authorized?": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    "policy",
    "registry",
    "ce"
  ]
}
