n8n/workflows-v3/07_policy_registry_publish.json
{
  "name": "07 Policy Registry Publish",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "policy/registry/publish",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        300
      ],
      "name": "Webhook",
      "webhookId": "policy-registry-publish"
    },
    {
      "parameters": {
        "jsCode": "const request = $input.first().json;\nconst rawHeaders = (request.headers && typeof request.headers === 'object' && !Array.isArray(request.headers)) ? request.headers : {};\nconst headers = Object.fromEntries(\n  Object.entries(rawHeaders).map(([key, value]) => [String(key).toLowerCase(), value])\n);\nconst sanitizedHeaders = Object.fromEntries(\n  Object.entries(rawHeaders).filter(([key]) => {\n    const normalizedKey = String(key).toLowerCase();\n    return normalizedKey !== 'x-api-key' && normalizedKey !== 'authorization';\n  })\n);\nconst sanitizedRequest = {\n  ...request,\n  headers: sanitizedHeaders\n};\nconst headerValue = (value) => Array.isArray(value) ? String(value[0] || '').trim() : String(value || '').trim();\nconst expectedApiKey = String($env.N8N_WEBHOOK_API_KEY || '').trim();\nconst xApiKey = headerValue(headers['x-api-key']);\nconst authorization = headerValue(headers.authorization);\nconst bearerMatch = authorization.match(/^Bearer\\s+(.+)$/i);\nconst bearerToken = bearerMatch ? String(bearerMatch[1] || '').trim() : '';\nconst authenticated = Boolean(expectedApiKey) && (xApiKey === expectedApiKey || bearerToken === expectedApiKey);\n\nif (authenticated) {\n  return [{\n    json: {\n      ...sanitizedRequest,\n      webhook_auth: {\n        authenticated: true,\n        header: xApiKey ? 'X-API-Key' : 'Authorization'\n      }\n    },\n    pairedItem: {\n      item: 0\n    }\n  }];\n}\n\nconst message = expectedApiKey\n  ? 'Unauthorized: Invalid or missing API key'\n  : 'Unauthorized: N8N_WEBHOOK_API_KEY is not configured';\n\nreturn [{\n  json: {\n    ...sanitizedRequest,\n    status: 'error',\n    message,\n    code: 401,\n    webhook_auth: {\n      authenticated: false\n    }\n  },\n  pairedItem: {\n    item: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "name": "Check Webhook Auth"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "webhook-authenticated",
              "leftValue": "={{ $json.webhook_auth && $json.webhook_auth.authenticated === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        300
      ],
      "name": "Webhook Authorized?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'error', message: $json.message || 'Unauthorized: Invalid or missing API key' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        180
      ],
      "name": "Unauthorized Response"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst actor = String(body.actor || 'n8n-ce');\nconst notes = String(body.notes || 'publish from CE');\nconst revision_id = String(body.revision_id || ('rev-' + Date.now())).trim();\n\nreturn [{ json: { actor, notes, revision_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ],
      "name": "Build Publish Payload"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH payload AS ( SELECT COALESCE(jsonb_agg(jsonb_build_object('workflow_id', workflow_id,'task_type', task_type,'tenant_id', tenant_id,'scope_pattern', scope_pattern,'constraints', constraints_jsonb,'enabled', enabled)), '[]'::jsonb) AS workflows FROM policy_workflows ) INSERT INTO policy_revisions (revision_id, status, payload_jsonb, notes, author, is_active, published_at) SELECT '{{ $json.revision_id.replace(/'/g, \"''\") }}', 'published', jsonb_build_object('workflows', payload.workflows), '{{ $json.notes.replace(/'/g, \"''\") }}', '{{ $json.actor.replace(/'/g, \"''\") }}', true, NOW() FROM payload ON CONFLICT (revision_id) DO UPDATE SET status='published', payload_jsonb=EXCLUDED.payload_jsonb, notes=EXCLUDED.notes, author=EXCLUDED.author, is_active=true, published_at=NOW(); UPDATE policy_revisions SET is_active=false WHERE revision_id <> '{{ $json.revision_id.replace(/'/g, \"''\") }}';"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        730,
        300
      ],
      "name": "Publish Revision",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO policy_publish_logs (revision_id, action, actor, result, details_jsonb) VALUES ('{{ $('Build Publish Payload').first().json.revision_id.replace(/'/g, \"''\") }}', 'publish', '{{ $('Build Publish Payload').first().json.actor.replace(/'/g, \"''\") }}', 'ok', '{{ JSON.stringify({ notes: $('Build Publish Payload').first().json.notes }).replace(/'/g, \"''\") }}'::jsonb);"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        980,
        300
      ],
      "name": "Insert Publish Log",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT payload_jsonb FROM policy_revisions WHERE revision_id='{{ $('Build Publish Payload').first().json.revision_id.replace(/'/g, \"''\") }}' LIMIT 1;"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1210,
        300
      ],
      "name": "Load Published Payload",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.payload_jsonb || {};\nconst workflows = Array.isArray(payload.workflows) ? payload.workflows : [];\nconst meta = $('Build Publish Payload').first().json;\n\nreturn [{\n  json: {\n    revision_id: meta.revision_id,\n    actor: meta.actor,\n    notes: meta.notes,\n    workflows,\n    count: workflows.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1430,
        300
      ],
      "name": "Build Bundle Publish Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://policy-bundle-server:8088/registry/publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        300
      ],
      "name": "Publish To Bundle Server",
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://policy-bundle-server:8088/healthz",
        "options": {
          "timeout": 15000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        300
      ],
      "name": "Check Bundle Server",
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'ok', action: 'publish', revision_id: $('Build Publish Payload').first().json.revision_id, published_count: $('Build Bundle Publish Body').first().json.count, bundle_publish: $('Publish To Bundle Server').first().json, bundle_server: $('Check Bundle Server').first().json, reflection_hint: 'OPA reflection is asynchronous. Wait 10-30 seconds and verify via OPA decision endpoint.' }) }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2100,
        300
      ],
      "name": "Success Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Webhook Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Publish Payload": {
      "main": [
        [
          {
            "node": "Publish Revision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Revision": {
      "main": [
        [
          {
            "node": "Insert Publish Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Publish Log": {
      "main": [
        [
          {
            "node": "Load Published Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Published Payload": {
      "main": [
        [
          {
            "node": "Build Bundle Publish Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Bundle Publish Body": {
      "main": [
        [
          {
            "node": "Publish To Bundle Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish To Bundle Server": {
      "main": [
        [
          {
            "node": "Check Bundle Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Bundle Server": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Webhook Auth": {
      "main": [
        [
          {
            "node": "Webhook Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Authorized?": {
      "main": [
        [
          {
            "node": "Build Publish Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    "policy",
    "registry",
    "ce",
    "publish"
  ]
}
