n8n/workflows-v3/10_policy_registry_candidates.json
{
  "name": "10 Policy Registry Candidates",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "policy/registry/candidates",
        "responseMode": "responseNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        300
      ],
      "name": "Webhook",
      "webhookId": "policy-registry-candidates"
    },
    {
      "parameters": {
        "jsCode": "const request = $input.first().json;\nconst rawHeaders = (request.headers && typeof request.headers === 'object' && !Array.isArray(request.headers)) ? request.headers : {};\nconst headers = Object.fromEntries(\n  Object.entries(rawHeaders).map(([key, value]) => [String(key).toLowerCase(), value])\n);\nconst sanitizedHeaders = Object.fromEntries(\n  Object.entries(rawHeaders).filter(([key]) => {\n    const normalizedKey = String(key).toLowerCase();\n    return normalizedKey !== 'x-api-key' && normalizedKey !== 'authorization';\n  })\n);\nconst sanitizedRequest = {\n  ...request,\n  headers: sanitizedHeaders\n};\nconst headerValue = (value) => Array.isArray(value) ? String(value[0] || '').trim() : String(value || '').trim();\nconst expectedApiKey = String($env.N8N_WEBHOOK_API_KEY || '').trim();\nconst xApiKey = headerValue(headers['x-api-key']);\nconst authorization = headerValue(headers.authorization);\nconst bearerMatch = authorization.match(/^Bearer\\s+(.+)$/i);\nconst bearerToken = bearerMatch ? String(bearerMatch[1] || '').trim() : '';\nconst matchedXApiKey = Boolean(expectedApiKey) && xApiKey === expectedApiKey;\nconst matchedBearer = Boolean(expectedApiKey) && bearerToken === expectedApiKey;\nconst authenticated = matchedXApiKey || matchedBearer;\n\nif (authenticated) {\n  return [{\n    json: {\n      ...sanitizedRequest,\n      webhook_auth: {\n        authenticated: true,\n        header: matchedXApiKey ? 'X-API-Key' : 'Authorization'\n      }\n    },\n    pairedItem: {\n      item: 0\n    }\n  }];\n}\n\nconst message = 'Unauthorized: Invalid or missing API key';\n\nreturn [{\n  json: {\n    ...sanitizedRequest,\n    status: 'error',\n    message,\n    code: 401,\n    webhook_auth: {\n      authenticated: false\n    }\n  },\n  pairedItem: {\n    item: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "name": "Check Webhook Auth"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "webhook-authenticated",
              "leftValue": "={{ $json.webhook_auth && $json.webhook_auth.authenticated === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        300
      ],
      "name": "Webhook Authorized?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ ({ status: 'error', message: $json.message || 'Unauthorized: Invalid or missing API key' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        920,
        180
      ],
      "name": "Unauthorized Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH wf AS ( SELECT DISTINCT name AS workflow_id FROM workflow_entity WHERE COALESCE(active, true) = true ), unregistered AS ( SELECT wf.workflow_id FROM wf WHERE NOT EXISTS ( SELECT 1 FROM policy_workflows pw WHERE pw.workflow_id = wf.workflow_id ) ) SELECT workflow_id FROM unregistered ORDER BY workflow_id LIMIT 300;"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        520,
        240
      ],
      "name": "Get Unregistered Workflow IDs",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH task_raw AS ( SELECT DISTINCT task_type FROM policy_candidate_events WHERE task_type IS NOT NULL ), unregistered AS ( SELECT tr.task_type FROM task_raw tr WHERE NOT EXISTS ( SELECT 1 FROM policy_workflows pw WHERE pw.task_type = tr.task_type ) ) SELECT task_type FROM unregistered ORDER BY task_type LIMIT 300;"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        740,
        360
      ],
      "name": "Get Unregistered Task Types",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT task_type FROM policy_workflows ORDER BY task_type LIMIT 300;"
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        740,
        460
      ],
      "name": "Get Policy Task Types",
      "credentials": {
        "postgres": {
          "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
          "name": "ai-postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const workflowRows = $('Get Unregistered Workflow IDs').all().map(i => i.json);\nconst taskRows = $('Get Unregistered Task Types').all().map(i => i.json);\nconst policyTaskRows = $('Get Policy Task Types').all().map(i => i.json);\n\nconst uniq = (arr) => Array.from(new Set(arr.filter(Boolean))).sort((a, b) => String(a).localeCompare(String(b)));\n\nconst workflow_ids = uniq(workflowRows.map(r => String(r.workflow_id || '').trim()));\nconst workflow_task_types = uniq(taskRows.map(r => String(r.task_type || '').trim()));\nconst policy_task_types = uniq(policyTaskRows.map(r => String(r.task_type || '').trim()));\n\nreturn [{\n  json: {\n    status: 'ok',\n    workflow_ids,\n    task_types: {\n      workflow: workflow_task_types,\n      policy: policy_task_types\n    },\n    counts: {\n      workflow_ids: workflow_ids.length,\n      task_types_workflow: workflow_task_types.length,\n      task_types_policy: policy_task_types.length\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        300
      ],
      "name": "Build Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ],
      "name": "Success Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Webhook Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unregistered Workflow IDs": {
      "main": [
        [
          {
            "node": "Get Unregistered Task Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unregistered Task Types": {
      "main": [
        [
          {
            "node": "Get Policy Task Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Policy Task Types": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Webhook Auth": {
      "main": [
        [
          {
            "node": "Webhook Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Authorized?": {
      "main": [
        [
          {
            "node": "Get Unregistered Workflow IDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    "policy",
    "registry",
    "ce",
    "candidates"
  ]
}
